@import "tailwindcss";

:root {
  --background: #252726;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-josefin-sans: var(--font-josefin-sans);
  --font-prata: var(--font-prata);
  --font-poppins: var(--font-poppins);
  --font-josefin-slab: var(--font-josefin-slab);
  --font-pt-mono: var(--font-pt-mono);
  --font-port-lligat-slab: var(--font-port-lligat-slab);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252726;
    --foreground: ##E0E0E0;
  }
}

body {
  background: var(--background);
  color: #E0E0E0;
  /* scroll-behavior: smooth */
}

/* @layer utilities {
  .swiper-wrapper {
    @apply flex;
  }
} */

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}