@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #252726;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-josefin-sans: var(--font-josefin-sans);
  --font-prata: var(--font-prata);
  --font-poppins: var(--font-poppins);
  --font-josefin-slab: var(--font-josefin-slab);
  --font-pt-mono: var(--font-pt-mono);
  --font-port-lligat-slab: var(--font-port-lligat-slab);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}