@import "tailwindcss";

:root {
  --background: #252726;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-josefin-sans: var(--font-josefin-sans);
  --font-prata: var(--font-prata);
  --font-poppins: var(--font-poppins);
  --font-josefin-slab: var(--font-josefin-slab);
  --font-pt-mono: var(--font-pt-mono);
  --font-port-lligat-slab: var(--font-port-lligat-slab);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252726;
    --foreground: ##E0E0E0;
  }
}

body {
  background: var(--background);
  color: #E0E0E0;
  /* scroll-behavior: smooth */
}

/* @layer utilities {
  .swiper-wrapper {
    @apply flex;
  }
} */

/* @utility overlay-hero {
  @apply flex flex-col gap-6 md:gap-7 max-w-[500px] lg:h-full text-center font-josefin-sans bg-linear-to-br from-[#9B7E5B] from-55% to-[#D7CABB] px-6 md:px-12 lg:px-16 pt-12 pb-6 md:pt-16 lg:pt-20 lg:[clip-path:polygon(0%_0%, 100%_0%, 80%_100%, 20%_100%)]
} */